<% layout('layouts/boilerplate') %> 
<div id="map" style="width: 100%; height: 500px "></div>
<div class="container ">
    
    <ul>
        <h1 style="color: rgb(255, 255, 255) ;
    -webkit-text-fill-color: rgb(255, 255, 255) ;">All Real Estates</h1>
        <% for(let house of properties){ %> 
           <div class="card mb-3" style="background-color: #ffffff00; border: 0px;" >
                <div class="row">
                    <div class="col-md-4">
                        <%if(house.images.length) {%>
                            <img class="img-fluid l" alt="" src="<%=house.images[0].url%>">
                            <% }else {%>
                            <img class="img-fluid " alt="" src="chrome://favicon2/?size=24&scale_factor=1x&show_fallback_monogram=&page_url=https%3A%2F%2Fcodeforces.com%2F">
                            <% } %>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title" style="color: rgb(255, 255, 255) ;
                            -webkit-text-fill-color: rgb(255, 255, 255) ;"><%= house.title %> </h5>
                            <p class="card-text" style="color: rgb(255, 255, 255) ;
                            -webkit-text-fill-color: rgb(255, 255, 255) ;"><%= house.description %> </p>
                            <p class="card-text" style="color: rgb(255, 255, 255) ;
                            -webkit-text-fill-color: rgb(255, 255, 255) ;">
                               <small class="text-muted"> <%= house.location %> </small>
                            </p>
                            <a href="/properties/<%= house._id %> " class="btn btn-primary" >View</a>
                        </div>
                    </div>
                </div>
           </div>
        <% } %> 
    </ul>
</div>
    <script>
        const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
        const properties = { features: <%- JSON.stringify(properties) %>}
    </script> 
    <script src="/javascript/clusterMap.js"></script>